<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade</title>

</head>
<body>
<h1> Fill in your grades and credits for each subject here</h1>
<img src="https://cdn-icons-png.flaticon.com/512/1169/1169915.png" alt = "Grades Calculator" height="50" width = "50">

<form action="/submit" method='post'>
<label >AM1100:</label><br>
<input type="text" name = "am1100"  value = "grade">
    <input type ="text" name = "am1100cred" value = "credit"><br>
<label >CH1020:</label><br>
<input type="text"  name = "ch1020" value = "grade">
    <input type ="text" name = "ch1020cred" value = "credits"><br>
<label >CS1100:</label><br>
<input type="text"  name = "cs1100"  value = "grade">
    <input type ="text" name = "cs1100cred" value = "credits"><br>
<label >CY1001</label><br>
<input type="text"  name = "cy1001" value = "grade">
    <input type ="text" name = "cy1001cred" value = "credits"><br>
<input type ="submit" value = "Submit">

</form>

</body>
</html>