<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Please provide your details here, Register Page</h2>
<form action ="/login" method = "post" >
    <label >Name</label><br>
    <input type="text"  value = ""><br>
    <label >Email</label><br>
    <input type="email" value = ""><br>
    <label >User Name</label><br>
    <input type="text" name="username" value = ""><br>
    <label >Password</label><br>
    <input type="password" name = "password" value = ""><br>
    <input type ="submit" value = "Submit">
    </form>
<p></p>
<a href = {{"login"}}> Already have an account? Login here</a>
</body>
</html>